.feedback-section {
  padding-top: 50px;
}

.feedback-section .block label,
input,
textarea {
  display: block;
}

.feedback-section fieldset {
  width: 400px;
  height: 520px;
  padding-left: 50px;
  padding-top: 20px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50px;
  border-color: rgba(199, 194, 194, 0.431);
}

.feedback-section legend {
  color: white;
  font-weight: bolder;
  /* font-family: "Courier New", Courier, monospace; */
  font-size: 35px;
  text-decoration: white;
  transition: 1s;
}

.feedback-section legend:hover {
  cursor: pointer;
  transition: 1s;
  text-decoration: rgb(0, 0, 0);
  color: rgb(216, 107, 107);
}

.feedback-section legend:hover {
  transition: 2s;
  text-decoration: rgba(0, 0, 0, 0);
}

.feedback-section label {
  color: rgba(246, 85, 85, 0.698);
  font-weight: bold;
  font-family: cursive;
}

.feedback-section .block {
  margin-top: 13px;
}

.feedback-section input {
  border: none;
  height: 30px;
  background-color: rgba(231, 158, 158, 0.212);
  border-radius: 15px;
  box-shadow: 1px 2px 3px rgb(80, 80, 80);
  width: 300px;
  padding-left: 20px;
  font-weight: bold;
  /* font-family: cursive; */
  color: rgba(255, 255, 255, 0.466);
}

.feedback-section textarea {
  padding-left: 10px;
  padding-top: 10px;
  border-radius: 15px;
  height: 100px;
  width: 300px;
  resize: none;
  margin-bottom: 20px;
  background-color: rgba(231, 158, 158, 0.212);
  border: none;
  box-shadow: 1px 2px 3px rgb(80, 80, 80);
  color: rgba(255, 255, 255, 0.466);
}
/* 
.feedback-section .submit {
  background-color: white;
} */
.submit {
  background-color: rgb(236, 74, 74);
  border: none;
  color: white;
  width: 200px;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 50px;
  margin-left: 20%;
  transition: 1s;
}
.submit:hover {
  background-color: rgba(241, 78, 78, 0.445);
  transition: 1s;
}
